:root {
    font-size: 16px;
}
.wrapper {
    display: block;
    margin-inline: auto;
    max-width: 800px;
}

.library-wrapper {
    display: grid;
    grid-template-columns: auto-fit minmax(150px, 1fr);
}

.book-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}