:root {
    font-size: 16px;
}
.wrapper {
    display: block;
    margin-inline: auto;
    max-width: 800px;
}

.library-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.book-card {
    display: flex;
    flex-direction: column;
    outline: 1px solid black;
    background-color: #e3e3e3;
    min-height: 250px;
    padding: 1rem;
}

.book-card > *:empty {
    display: none;
}

.book-card > * {
    margin: 0;
    margin-bottom: 1rem;
}